# This is our first Python class 

### Data Types:
The data types in Python are as follows:

- Integer (Int): These are whole numbers, such as 1,2,5,6,7 etc

- Float (Float): These are decimal numbers such as 0.4, 0.5, etc

- String (Str): These are text values or any data that is in quotes (single or double) such as: 'age', "date", "45"

- Boolean (bool): These are logical statements/true or false statements

- Complex: These are complex values such as 'a+bx', etc

## Variables:
A variable is a container, a reference for any data, value or items in python. It holds and stores the values in the memory so that any time you need the value or data, you can always call the variable and you will be able to access it 

Variable naming convention (PEP 8)
- PEP 8 is the style guide for python code including how to name variables.

- Variable names should be written in lowercase letters and separated by underscores: car_make = "Nissan"

- Variable names should describe the purpose and convey the meaning of the variable or data that is stored in it: count_of_scores = 10, etc

- Avoid using single character names except for counter or iterators: x, y, a, etc

- No reserved keywords should be used as variable names : print, for, if, input, etc

- Python is a case sensitive language, so, variable names are case sensitive: for example, name = 'Oluwakemi' is different from Name = 'Oluwakemi'

- You can use CamelCase as your variable name, for example: nameOfCars

In [5]:
number = 10
print(number)

10

In [6]:
name = 'Tobiloba'
print(name)

Tobiloba

In [7]:
#Concatenate all the variables 
print(name + ' is ' + str(number) + ' years old ')

Tobiloba is 10 years old

### Mathematical operators: +, -, /, //, %, <, >, != , ==, *, **,and, or

In [9]:
#+; this adds values it can also concatenate strings 
print(4 + 8)

12

In [10]:
#-; this subtracts values 
print(5 - 10)

-5

In [11]:
#/; this divides values 
print(78/5)

15.6

In [12]:
#//; floor division: this returns the whole number in a duivision 

45//8

5

In [13]:
#%; modulo; this returns the remainder of a division 
17%5

2

In [14]:
#<; less than; this is a boolean operator because it returns a True or False output

print(5 < 10)
print(5 > 12)

True
False

In [15]:
#>; greater than; this is a boolean operator because it returns True or False output 
print(8 > 9)
print(9 > 7)

False
True

In [16]:
#!= Not equals to (boolean operator)
print(9 != 10)
print(10 != 10)

True
False

In [17]:
#==; equality sign
print(10 == 10)
print(7 == 9)

True
False

In [18]:
#*; multiply; 
print(3 * 9)

27

In [19]:
#**; raise to power 
print(9**2)

81

In [20]:
#and; 
a = 5 
b = 10 
c = 20

print(a < b and a < c)
print(a > b and a < b)

True
False

In [21]:
#or; 
a = 5 
b = 10 
c = 20

print(a < b or a < c)
print(a > b or a < b)

True
True

#### Data Structures: 

These are structures that hold or contain data types, where data types are stored.
We have the following data structures:

- List: This is usually denoted by square brackets [ ]. Lists can hold different data types, it is mutable, that is it can be manipulated. Lists are ordered and they are indexed 

- Sets: This is usually denoted by the curly bracksets {}. This does not allow duplicates

- Tuples: This is usually denoted by the round brackets (). This is an immutable data structure, that is, it cannot be changed.

- Dictionary: This is also usually denoted by curly brackets {} and they hold data in key value pairs

In [64]:
mylist = [12, 55, 'Tolani', 'Van', True, 0.08, 'Kemi']
print(mylist)

[12, 55, 'Tolani', 'Van', True, 0.08, 'Kemi']

In [66]:
students = ['Joy', 'Faith', 'Progress', 'Femi', 'Favour', 'Prosper']
print(students)

['Joy', 'Faith', 'Progress', 'Femi', 'Favour', 'Prosper']

#### List slicing: This is a method of extracting items from your list in different positions

- You use indexing to extract or call items from a list

- Indexing refers to positions within a list and this starts from 0

- To extract items from a list, the syntax is; variable_name[start:stop:step]; start: where you want to start slicing, stop; where you want it to stop, step; the size or difference between each item

In [70]:
#Exercise1: Retrieve the first item from the students list 
#Exercise2: Retrieve the second item from the students list 
#Exercise3: Retrieve the third item from the students list 
#Exercise4: Retrieve the first 3 items from the students list 
#Exercise5: Retrieve the first 4 items from the students list

In [74]:
print(students[0:3:1])

['Joy', 'Faith', 'Progress']

In [77]:
print(students[0:5:2])

['Joy', 'Progress', 'Favour']

In [79]:
#Exercise1: Retrieve the first item from the students list 
print(students[0])

Joy

In [81]:
#Exercise2: Retrieve the second item from the students list 
print(students[1])

Faith

In [83]:
#Exercise3: Retrieve the third item from the students list 
print(students[2])

Progress

In [85]:
#Exercise4: Retrieve the first 3 items from the students list 
print(students[0:3])

['Joy', 'Faith', 'Progress']

In [87]:
#Exercise5: Retrieve the first 4 items from the students list 
print(students[0:4])

['Joy', 'Faith', 'Progress', 'Femi']

In [96]:
#Retrieve the list from the 2nd item to the last
print(students[1:])

['Faith', 'Progress', 'Femi', 'Favour', 'Prosper']

In [100]:
#Retrieve everything in the list 
print(students)
print(students[:])

['Joy', 'Faith', 'Progress', 'Femi', 'Favour', 'Prosper']
['Joy', 'Faith', 'Progress', 'Femi', 'Favour', 'Prosper']

#### Negative indexing

- This refers to indexing your list from the end of the list
- -1 refers to the last item in the list
- -2 refers to the second to the last item in the list

In [93]:
print(students[-1])

Prosper

In [104]:
#Retrieve everything starting from the first item and stop at last item, the last item will be excluded
print(students[:-1])

['Joy', 'Faith', 'Progress', 'Femi', 'Favour']

In [106]:
#using negative indexing retrieve each item in the list using a step size of 2

print(students[:-1:2])

['Joy', 'Progress', 'Favour']

In [108]:
#Exercise 1: Using negative indexing, retrieve the items in the list with a step size of 3
print(students[:-1:3])

['Joy', 'Femi']

### List manipulation 

- This is a concept in python that involves various manipulations in lists such as changing items in list, replacing them, deleting them and updating them by using what is called List methods 
- We have a number of list methods such as; pop, append, extend, del, insert, clear, upper, capitalize, lower, remove, sort, sorted

In [116]:
animals = ['donkey', 'lion', 'tiger', 'elephant', 'monkey', 'zebra', 'snake', 'baboon', 'leopard']
print(animals)

['donkey', 'lion', 'tiger', 'elephant', 'monkey', 'zebra', 'snake', 'baboon', 'leopard']

In [118]:
#pop: this will remove the last item from a list except you specify the index of the item you want to remove 
#syntax = variable_name.pop()

print(animals.pop())

leopard

In [120]:
print(animals)

['donkey', 'lion', 'tiger', 'elephant', 'monkey', 'zebra', 'snake', 'baboon']

In [124]:
print(animals.pop(3))

elephant

In [126]:
print(animals)

['donkey', 'lion', 'tiger', 'monkey', 'zebra', 'snake', 'baboon']

In [128]:
#append: this will add a specified item to a list at the last index
#syntax: variable_name.append(item) 
print(animals.append('giraffe'))

None

In [130]:
print(animals)

['donkey', 'lion', 'tiger', 'monkey', 'zebra', 'snake', 'baboon', 'giraffe']

In [133]:
garden = ['flower', 'plant', 'fruit', 'vegetable', 'pot']
print(garden)

['flower', 'plant', 'fruit', 'vegetable', 'pot']

In [135]:
#extend: this will add another list to a list 
#syntax: variable_name.extend(second_list)
print(animals.extend(garden))

None

In [137]:
print(animals)

['donkey', 'lion', 'tiger', 'monkey', 'zebra', 'snake', 'baboon', 'giraffe', 'flower', 'plant', 'fruit', 'vegetable', 'pot']

In [139]:
#remove: this will remove the first occurence of an item in a list or at a specifed index
#syntax: variable_name.remove(item) 
print(animals.remove('snake'))

In [141]:
print(animals)

['donkey', 'lion', 'tiger', 'monkey', 'zebra', 'baboon', 'giraffe', 'flower', 'plant', 'fruit', 'vegetable', 'pot']

In [143]:
#insert: this is used to add items to a list at a specified position/index
#syntax: variable_name.insert(index, item)
print(animals.insert(0, 'Cat'))

None

In [145]:
print(animals)

['Cat', 'donkey', 'lion', 'tiger', 'monkey', 'zebra', 'baboon', 'giraffe', 'flower', 'plant', 'fruit', 'vegetable', 'pot']